h1 {
  background-color: #FFA07A;
}

h2 {
  background-color: #FFA07A;
}

table {
  border: 3;
}

#een {
  background-color: aquamarine;
  width: 250px;
  height: 250px;
}

#twee {
  background-color:aliceblue;
  width: 250px;
  height: 250px;
}

#drie {
  background-color:blueviolet;
  width: 250px;
  height: 250px;
}

#vier {
  background-color:blanchedalmond;
  width: 250px;
  height: 250px;
}

#vijf {
  background-color:bisque;
  width: 250px;
  height: 250px;
}

#zes {
  background-color:beige;
  width: 250px;
  height: 250px;
}

#zeven {
  background-color:aqua;
  width: 250px;
  height: 250px;
}

#acht {
  background-color:lime;
  width: 250px;
  height: 250px;
}

#negen {
  background-color:burlywood;
}

#tien {
  background-color:cadetblue;
  width: 250px;
  height: 250px;
}

#elf {
  background-color:coral;
  width: 250px;
  height: 250px;
}

#twaalf {
  background-color:darkgrey;
  width: 250px;
  height: 250px;
}

#dertien {
  background-color:darkkhaki;
  width: 250px;
  height: 250px;
}

#veertien {
  background-color:honeydew;
  width: 250px;
  height: 250px;
}

#vijftien {
  background-color:lightskyblue;
  width: 250px;
  height: 250px;
}

#zestien {
  background-color:thistle;
  width: 250px;
  height: 250px;
}